@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Lato", Arial;
}

#container {
    min-height: 100vh;
}

#navbar {
    height: 15vh;
}

.logo {
    width: fit-content;
}

.nav-link:hover {
    color: whitesmoke;
}

.hero {
    height: 61vh;
}

.ref-img {
    margin: 10% auto;
}

.bold-line {
    text-decoration: underline;
}

.footer {
    height: 20vh;
}

.footer > .nav-item {
    height: 10vh;
}

.fa {
    height: fit-content;
    font-size: 5vh;
}
